@media print {
    .no-print {
        display: none !important;
    }

    @page { size: A4;  margin: 1px; }

    /*body *{*/
    /*    visibility: hidden;*/
    /*}*/

    /*#checker, #checker * {*/
    /*    visibility: visible;*/
    /*}*/
    /*#checker {*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    top: 0; left: 0;*/
    /*}*/


    .main-sidebar,
    .main-header,
    .content-header {
    @extend . no-print;
    }

    .content-wrapper,
    .main-footer {
    @include translate(0, 0);
        margin-left: 0 !important;
        min-height: 0 !important;
    }

    .layout-fixed .content-wrapper {
        padding-top: 0 !important;
    }


    .invoice {
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .invoice-col {
        float: left;
        width: 33.3333333%;
    }


    /*.table-responsive {*/
    /*    overflow: auto;*/

    /*    > .table tr th,*/
    /*    > .table tr td {*/
    /*        white-space: normal !important;*/
    /*    }*/
    /*}*/

}
