.content-wrapper {
    background: #ffffff; !important;
}

.top_navbar{
    color: white;
    background-color: #438EB9 !important;
    padding: .4rem 1rem; !important;
}

.main-footer {
    background: #fff; !important;
    border-top: 1px solid #dee2e6;
    color: #000;
    padding: 1rem;
}

.sidebar {
    padding-left: 0; !important;
    padding-right: 0; !important;
}

.main-footer {
    padding-bottom: 0.98rem; !important;
    padding-top: 1rem; !important;
}

.content-header {
    padding: 0.3rem 0.6rem; !important;
}

.card_header{
    /*background-color: #56B552;*/
    background-color: #869A85;
    color: white;
    height: 2rem;
}

.card_body{
    /*background-color: #D2F0F0;*/
}
.form-row .form-group, .form-group, .form-control, .form-group label{
    font-size: 0.85rem; !important;
    margin-top: -8px; !important;
}

ul li a p{
    font-size: 14px;
}
.table{
    background-color: #D1D2D5;
}

.table > thead > tr > th {
    /*font-weight: unset;*/
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #a2ab98;
}

.table > tbody > tr > td {
    vertical-align: middle;
    horiz-align: center;
}

.table > tbody >tr >td input[type="text"] {
    border: none;
    /*background-color: unset;*/
}

.table > thead >tr >th textarea {
    border: none;
}

.table > tbody >tr >td textarea {
    border: none;
}

.table > tbody >tr >th textarea {
    border: none;
}

.table > tbody > tr > th input[type="text"] {
    border: none;
}
.table > thead > tr > th input[type="text"] {
    border: none;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #a2ab98; !important;
}

.table-responsive{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.inputAlert{
    cursor: pointer;
}

.swal-height{
    height: 37vh;
    padding: 10px; !important;
}

.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

@media (min-width: 576px) {
    .content-wrapper,
    .main-footer,
    .main-header {
        transition: margin-left 0.3s ease-in-out;
        margin-left: 290px;
        z-index: 3000;
    }
}

@media (min-width: 576px) and (prefers-reduced-motion: reduce) {
    .content-wrapper,
    .main-footer,
    .main-header {
        transition: none;
    }
}

@media (min-width: 576px) {
    .sidebar-collapse .content-wrapper, .sidebar-collapse
    .main-footer, .sidebar-collapse
    .main-header {
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    .content-wrapper, .content-wrapper:before,
    .main-footer,
    .main-footer:before,
    .main-header,
    .main-header:before {
        margin-left: 0;
    }
}

.main-sidebar, .main-sidebar:before {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    width: 290px;
}

@media (prefers-reduced-motion: reduce) {
    .main-sidebar, .main-sidebar:before {
        transition: none;
    }
}

.sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar:before {
    margin-left: -290px;
}

@media (max-width: 767.98px) {
    .main-sidebar, .main-sidebar:before {
        box-shadow: none !important;
        margin-left: -290px;
    }
    .sidebar-open .main-sidebar, .sidebar-open .main-sidebar:before {
        margin-left: 0;
    }
}

:not(.layout-fixed) .main-sidebar {
    position: absolute;
    top: 0;
    height: inherit;
    min-height: 100%;
}

.layout-navbar-fixed.sidebar-collapse .brand-link {
    transition: width 0.3s ease-in-out;
    width: 4.6rem;
    height: 57px;
}

.layout-navbar-fixed.sidebar-collapse .main-sidebar:hover .brand-link {
    transition: width 0.3s ease-in-out;
    width: 290px;
}

.layout-navbar-fixed .sidebar {
    margin-top: 57px;
}

.layout-navbar-fixed .brand-link {
    transition: width 0.3s ease-in-out;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 951;
    width: 290px;
}

textarea.form-control {
    height: auto;
    font-size: small;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

input.form-control {
    height: auto;
    font-size: small;
    font-weight: bold;
}

input[type=date].form-control{
    height: 40px;
    font-size: small;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

.dyInput{
    position: absolute;
    /*background-color: unset;*/
    text-align: center;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.checked, .divChecked {
    position: absolute;
    display: block;
    background-color: unset;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;

}
*:focus {
    outline: 0 !important;
}